# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# Environments
.env
venv/
.venv/
ENV/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# VS Code
.vscode/

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Model files and outputs
*.h5
*.pt
*.pth
*.onnx
checkpoints/
runs/
weights/
